*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: aliceblue;
}

header{
    background-color: rgb(65, 105, 255);
    min-height: 230px;
}

header div{
    width: 750px;
    margin: 0 auto;
}

header .logo{
    width: 140px;
    height: 110px;
    padding-top: 20px;
}

header ul{
    list-style: none;
    float: left;
    background-color: white;
}

header ul li{
    float: left;
    
} 

header ul li>a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    line-height: 3.5em;
    padding: 0.5em 1.5em;
}

ul#navegacao li:hover, ul#navegacao li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(65, 105, 255);
}

main.container{
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
}

main .col_lateral, .col_aplicativo, main .col_tema{
    float: left;
}

.col_lateral{
    width: 180px;
    margin: 0 10px 10px 0;
}

.col_lateral h2{
    padding: 10px;
    color: white;
    background-color: rgb(65, 105, 255);
}

.col_lateral .caixa{
    min-height: 500px;
    margin-bottom: 50px;
}

.col_lateral .links-lateral{
    margin: 10px;
    list-style: none;
}

.col_lateral .links-lateral li{
    margin-top: 30px;
}

.col_lateral .links-lateral a{
    text-decoration: none;
    display: block;
    font-weight: bold;
    color: rgb(65, 105, 255);
    font-size: 16px;
}

.col_lateral .links-lateral li:hover a{
    background-color:rgb(65, 105, 255);
    color: white;
    min-height: 20px;
    padding: 5px;
}

.col_aplicativo, .col_tema {
    float: left;
    margin: 0 10px 10px 0;
    width: 270px;
}

.col_aplicativo .caixa{
    margin-bottom: 10px;
}

.col_aplicativo .caixa .app img{
    max-width: 400px;
    width: 100%;
}

.col_aplicativo .caixa h2{
    background-color: rgb(65, 105, 255);
    padding: 10px;
    color: white;
}

.col_aplicativo .caixa .app h3{
    color: rgb(65, 105, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}

.col_aplicativo .caixa .app p{
    color: rgb(65, 105, 255);
    margin-bottom: 10px;
}

.col_tema .caixa .tema {
    margin-bottom: 10px;
}
.col_tema .caixa .tema img{
    max-width: 400px;
    width: 100%;
}

.col_tema .caixa h2{
    background-color: rgb(65, 105, 255);
    padding: 10px;
    color: white;
}

.col_tema .caixa .tema h3{
    color: rgb(65, 105, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}

.col_tema .caixa .tema P{
    color: rgb(65, 105, 255);
    margin-bottom: 10px;
}

footer{
    clear: both;
    background-color: rgb(65, 105, 255);
    min-height: 50px;
}

footer div{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

footer div p{
    padding: 10px;
}
